<div id="getAssignmentID">
    <table style="border: 1px solid #9f9f9f;" cellspacing="10">
        <tr>
            <td>
                <label for="assignmentID">Input Assignment ID:</label>
            </td>
            <td>
                <input type="text" id="assignmentID" name="assignmentID" required="true" data-dojo-type="dijit/form/TextBox"/>
            </td>
            <td>
                <button data-dojo-type="dijit/form/Button" onclick="getAssignmentID()">Submit</button>
            </td>
        </tr>
    </table>
</div>