<script>
    /*
    * The setup() will be called by dojo right after it is finished loading all libraries.
    */
    function setup()
    {
        window.centerContainer = new window.AccordionContainer({style:"width:300px"});
        console.log("Grabbing Courses");
        // Send a request to the courses resource with the IUID in the query
        // Then pass in a call back for a succesful response and one for an error
        request("/courses/",{
            handleAs:"json"
        }).then(
        function(courses){
            // Parse the response given by the request
            window.courses = courses;
            
            // Iterate through each course object in the response
            for (var i=0;i<courses.length; i++)
            {
                // For each course, use its CUID to find all of the assignments
                // You can also POST data as necessary, see Dojo/Request docs to see how
                console.log("Grabbing Assignments for a course");
                request("/assignments/",{
                         "query":{"id":courses[i].id},
                         handleAs:"json"
                }).then(
                function(courseAssignMentDict){
                    // Recieve Course from service since this is asynchronusly run so the loop iterator may not be usable at the time this runs
                    // Parse the response
                    var innerContent = "<table>";
                    
                    // If given an empty list, still add the course as a title pane
                    console.log("Appending child");
                    if(courseAssignMentDict.assignments.length == 0)
                    {
                        window.centerContainer.addChild(new window.ContentPane({title:courseAssignMentDict.course.name,
                                                                         content:""}));
                    }
                    else
                    {
                        // For each assignment build its table row
                        for(var a in assignments)
                        {
                             innerContent+= "<tr><td>"+ a.name+"</td></tr>";
                        }
                        innerContent +="</table>";
                        window.centerContainer.addChild(new window.ContentPane({title:window.courses[i].name,content:innerContent}));
                    }
                },
                function(err){console.log(err)});
            }
            // After sending out requests for each course, place and start up the accordion container
            window.centerContainer.placeAt("centerContainer")
            window.centerContainer.startup();
        },
        function(err){console.log(err)});
    }
</script>
<div align="center">
    <div id="centerContainer" name="centerContainer"></div>
</div>