<!DOCTYPE html>
<html>
<body>
<style>
html {
  background: LightSteelBlue;
  background: -webkit-gradient(linear, left top, right bottom, from(LightSteelBlue), to(#53e3a6));
  font-size:100%;
}
html,input {
  font-family:Helvetica, sans-serif, Arial;
}

header{
    padding: 8px;
    color: white;
    background-color: #111;
    clear: left;
    text-align:10px;

}
footer{
    position: fixed;
    padding: 8px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #111;
    clear: left;
    text-align:center ;
}
body {
  margin:0;
}

#login {
  width:400px;
  position:relative;
  margin:100px auto;
}

#formDiv {
  border-radius:10px;
  padding:10px 0 10px 20px;
  background-color:#111;
}

input {
  line-height:2em;
  font-size:1em;
  border:0;
  background:transparent;
  color: white;
  margin:0;
  height:1.5em;
  display:block;
  width:270px;
  padding:.5em .5em 1em;
}

input[type="password"] {
  padding:1em .5em .5em;
}

.spacer {
  height:0;
  border-bottom:3px solid #53e3a6;
  margin:0 0 0 5px;
}

#loginButton {
  background-color:#111;
  color: white;
  position:absolute;
  bottom:25px;
  right:-15px;
  box-shadow:0 0 1px 4px #53e3a6;
  border-radius:50px;
  width:75px;
  height:50px;
  padding:0;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -kthtml-transition: all .1s linear;
  transition: all .1s linear;
}
#createInstructorButton{
  background-color:#111;
  color: white;
  box-shadow:0 0 1px 4px #53e3a6;
  border-radius:50px;
  padding:0;
  height: 50px;
  width: 100px;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -kthtml-transition: all .1s linear;
  transition: all .1s linear;
}

#loginButton:hover, #createInstructorButton:hover {
  cursor:pointer;
  box-shadow:0 0 0.5px 8px #53e3a6;
  color: LimeGreen;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -kthtml-transition: all .1s linear;
  transition: all .1s linear;
}

::-webkit-input-placeholder {
  color:#666;
}

input:focus {
  outline:0;
  color: LightSteelBlue
}
</style>
<header>
  <font size="20"><span style="display:inline-block; width: 30px;"></span>
    PasteHuffer</font>
</header>
<script>
  function sendLoginRequest()
  {
    // Grab user info from the forms
    var username = window.dom.byId("username").value;
    var password = window.dom.byId("password").value;
    console.log("Sending Request")
    // Send POST request for login
    // A succesful response will end in redirect, any other response will provide information about error
    request.post("/ILogin/",{
            data:{"username":username, "password":password},
            headers:{'X-CSRF-Token':document.querySelector('meta[name="csrf-token"]').content},
            handleAs:"json"
        }).then(function(response){
            if(response.success)
            {
              window.location = "/dash/";
            }
            else
            {
              alert(response.reason);
            }
          }, function (errCode){console.log(errCode);})
  }
  function openCreateInstructorForm()
  {
    var createInstructorFormDialog = new window.DojoDialog({title:"Register New Account!"});
    createInstructorFormDialog.show();
    request.get("/instructors/creationForm", {}).then(
      function(response){
        createInstructorFormDialog.set("content",response);
      }, function(err){console.log(err);});
  }
  // Grabs the data from the modal form presented by the register button
  function submitInstructor()
  {
      // Grab all the data from the form
      var instrName = window.dom.byId("instrName").value.trim();
      var instrEmail = window.dom.byId("instrEmail").value.trim();
      var instrPassword = window.dom.byId("instrPassword").value.trim();
      var valInstrPassword = window.dom.byId("password_validate").value.trim();
      if (instrName.length < 1) {
        alert("Please type in Instructor Name!");
        return;        
      }
      if (instrEmail.length < 1) {
        alert("Please type in email!");
        return;        
      }
      if (instrEmail[instrEmail.length - 4] != '.') {
        alert("Invalid email!");
        return;
      }
      if (instrPassword.length < 6) {
        alert("Password must be at least 6 characters!");
        return;
      }
      if(instrPassword != valInstrPassword)
      {
          alert("Password and validation do not match!!");
          return;
      }
      // Send Creation POST to BE
      request.post("/instructors/create",{
          data:{"name":instrName, "password":instrPassword, "email":instrEmail},
          headers:{'X-CSRF-Token':document.querySelector('meta[name="csrf-token"]').content},
          handleAs:"json"
      }).then(
          function(response)
          {
              if(response.success)
              {
                  //Log in with new data
                  // Send POST request for login
                  // A succesful response will end in redirect, any other response will provide information about error
                  request.post("/ILogin/",{
                      data:{"username":instrName, "password":instrPassword},
                      headers:{'X-CSRF-Token':document.querySelector('meta[name="csrf-token"]').content},
                      handleAs:"json"
                  }).then(
                      function(response){
                          if(response.success)
                          {
                              window.location = "/dash/";
                          }
                          else
                          {
                                alert(response.reason);
                          }
                      }, function (errCode){console.log(errCode);});
                  }
                  else
                  {
                      alert(response.reason);
                  }
              },
              function(err){console.log(err);});
  }
</script>
<div id="login">
  <div id="formDiv">
    <input type="text" placeholder="Username" id="username">
    <div class="spacer"></div>
    <input type="password" placeholder="Password" id="password">
    <input type="button" id="loginButton" value="Login" onclick="sendLoginRequest();">
  </div>
</div><br />
<div align="center">
  <button align = "center" id="createInstructorButton" onclick="openCreateInstructorForm()">Register New Account</button>
</div>
<footer>Texas A&amp;M University</footer>


