<style>
html {
  background: LightSteelBlue;
  background: -webkit-gradient(linear, left top, right bottom, from(#53e3a6), to(#50a3a2));
  font-size:100%;
}
html,input {
  font-family:Helvetica, sans-serif, Arial;
}

header{
    padding: 8px;
    color: white;
    background-color: #111;
    clear: left;
    text-align:10px;

}
footer{
    position: fixed;
    padding: 8px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #111;
    clear: left;
    text-align:center ;
}
html, body {
  margin:0;
  height:100%;
  width:100%;
}
h5{
    margin:0;
    padding:0;
}
div.titlebox {
    border-radius: 0px 100px 100px 0px;
    margin: 15px;
    margin-left: 0px;
    width: 150px;
    left: 0;
    clear: left;
    background: black;
    border: 1px solid black;
}

div.titlebox p {
    margin: 3%;
    text-align: center;
    color: white;
}

input {
  line-height:2em;
  font-size:1em;
  border:0;
  background:transparent;
  color: white;
  margin:0;
  height:1.5em;
  display:block;
  width:270px;
  padding:.5em .5em 1em;
}

input[type="password"] {
  padding:1em .5em .5em;
}

.spacer {
  height:0;
  border-bottom:3px solid #53e3a6;
  margin:0 0 0 5px;
}

input[type="submit"] {
  background-color:#111;
  color: white;
  position:absolute;
  bottom:35px;
  right:-15px;
  box-shadow:0 0 1px 4px #53e3a6;
  border-radius:50px;
  width:75px;
  height:50px;
  padding:0;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -kthtml-transition: all .1s linear;
  transition: all .1s linear;
}

input[type="submit"]:hover {
  cursor:pointer;
  box-shadow:0 0 0.5px 8px #53e3a6;
  color: LimeGreen;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -kthtml-transition: all .1s linear;
  transition: all .1s linear;
}

::-webkit-input-placeholder {
  color:#666;
}

input:focus {
  outline:0;
  color: LightSteelBlue
}
</style>
<script>
  window.setup = codeEditorSetup;
</script>
<header>
    <font size="20"><span style="display:inline-block; width: 30px;"></span>PasteHuffer</font>
    <h5><span style="display:inline-block; width: 30px;"></span>Student</h5>
</header>

 <div class="titlebox">
    <p>Code Editor</p>
  </div>
<div data-dojo-type="dijit/layout/BorderContainer" style="width: 100%; height: 100%; color: black;">
   <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'leading'" style="background-color: white; width: 15%;">
    <div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-props="region:'left'">
        <div data-dojo-type="dijit/layout/AccordionPane" title="Assignments">Tools</div>
        <div data-dojo-type="dijit/layout/AccordionPane" title="pane #2">accordion pane #2</div>
        <div data-dojo-type="dijit/layout/AccordionPane" title="pane #3">accordion pane #3</div>
    </div>
  </div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="background-color: white;">
       <div data-dojo-type="dijit/Editor" id="editor" data-dojo-props="plugins:['bold','italic','|','createLink'], trim:false, isTabIndent:true"></div>
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'trailing'" style="width: 25%;"><div id="tempOutputArea"></div>
        <button data-dojo-type="dijit/form/Button" id="submitButton" onclick="sendSubmission();">Submit</button>
        <button data-dojo-type="dijit/form/Button" id="testButton" onclick="testCode();">Test</button></div>

    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'" style="background-color: black;">Bottom pane</div>
</div>
  
<footer>Texas A&amp;M University</footer>
