<div id="createAssignmentForm">
    <table style="border: 1px solid #9f9f9f;" cellspacing="10">
        <tr>
            <td>
                <label for="newAssignmentName">Assignment Name:</label>
            </td>
            <td>
                <input type="text" id="newAssignmentName" name="newAssignmentName" required="true" data-dojo-type="dijit/form/TextBox"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="skeleton">Skeleton Code:</label>
            </td>
            <td>
                <input name="uploadedFile" multiple="false" type="file" dojoType="dojox/form/Uploader" label="Select File" id="uploadedFile" url="upload"/>
            </td>
        </tr>
        <tr>
            <td/>
            <td>
                <div id="files" data-dojo-type="dojox/form/uploader/FileList" data-dojo-props='uploaderId:"uploadedFile"'></div>
            </td>
        </tr>
        <tr>
        	<td>
                <label for="skeleton">Language:</label>
            </td>
            <td>
	            <select required name="select" data-dojo-type="dijit/form/Select" id="newAssignmentLanguage">
	            	<option value=""> -- select an option -- </option>
				    <option value="Ruby">Ruby</option>
				    <option value="Python">Python</option>
				    <!--<option value="Java">Java</option>-->
				    <!--<option value="C++">C++</option>-->
				    <!--<option value="C">C</option>-->
				    <option value="None">Non-Programming</option>
				</select>
			</td>
        </tr>
    </table>
    <button data-dojo-type="dijit/form/Button" onclick="createNewAssignment()">Create Assignment</button>
</div>