<div id="createAssignmentForm">
    <table style="border: 1px solid #9f9f9f;" cellspacing="10">
        <tr>
            <td>
                <label for="newAssignmentName">Assignment Name:</label>
            </td>
            <td>
                <input type="text" id="newAssignmentName" name="newAssignmentName" required="true" data-dojo-type="dijit/form/TextBox"/>
            </td>
        </tr>
        <!--<tr>
            <td>
                <label for="newAssignmentDueDate">Due Date:</label>
            </td>
            <td>
                <input type="text" name="newAssignmentDueDate" id="newAssignmentDueDate" data-dojo-type="dijit/form/DateTextBox" required="true" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="newAssignmentDueTime">Due Time:</label>
            </td>
            <td>
                <input type="text" name="newAssignmentDueTime" id="newAssignmentDueTime" data-dojo-type="dijit/form/TimeTextBox" required="true" />
            </td>
        </tr>-->
        <tr>
            <td>
                <label for="skeleton">Skeleton Code:</label>
            </td>
            <td>
                <input name="file" multiple="false" type="file" dojoType="dojox.form.Uploader" label="Select File" id="uploadedfile" />
            </td>
        </tr>
        <tr>
        	<td>
                <label for="skeleton">Language:</label>
            </td>
            <td>
	            <select name="select" data-dojo-type="dijit/form/Select" required="true" id="newAssignmentLanguage">
	            	<option disabled selected value> -- select an option -- </option>
				    <option value="Ruby">Ruby</option>
				    <option value="Python">Python</option>
				    <option value="Java">Java</option>
				    <option value="C++">C++</option>
				    <option value="C">C</option>
				    <option value="None">Non-Programming</option>
				</select>
			</td>
        </tr>
    </table>

    <button data-dojo-type="dijit/form/Button" name="createNewAssingmentButton" onclick="createNewAssignment();">Create Assignment</button>
</div>
