<div id="grid"></div>
<script>
require([ 'dgrid/Grid', 'dojo/domReady!' ], function (Grid) {
    //var data = [
        // { suid: 'Bob', sName: 'Barker', submission: 89, report: 'yeeep'},
        // { suid: 'Vanna', sName: 'White', submission: 55, report: 'yyeeep'},
        // { suid: 'Pat', sName: 'Sajak', submission: 65, report: 'yyyeeep'}
        
    //];
    // $.get("submission/", function(data, status){
    //         alert("Data: " + data + "\nStatus: " + status);
    // });
    var data = []
    
    sendGetRequestForJSON('/submission/',{"auid":a.id},function(retData){
        data=retData
 
    var grid = new Grid({
        columns: {
            suid: 'Student ID',
            submission: 'Submission',
            report: 'Report',
            dateSubmitted: 'Date submitted',
            onTime: 'On time',
            pasteDetected: 'Paste detected',
            createdAt: 'Date of creation',
            updatedAt: 'Updated'
        }
    }, 'grid');
    grid.renderArray(retData);
    });
});
</script>
