<div id="grid"></div>
<script>
require([ 'dgrid/Grid', 'dojo/domReady!' ], function (Grid) {
    var data = [
        { suid: 'Bob', sName: 'Barker', submission: 89, report: 'yeeep'},
        { suid: 'Vanna', sName: 'White', submission: 55, report: 'yyeeep'},
        { suid: 'Pat', sName: 'Sajak', submission: 65, report: 'yyyeeep'}
    ];
 
    var grid = new Grid({
        columns: {
            suid: 'Student ID',
            sName: 'Student Name',
            submission: 'Submission',
            report: 'Report'
        }
    }, 'grid');
    grid.renderArray(data);
});
</script>
