<h1>Instructors#new</h1>
<p>Input your information</p>

<%= form_for :new_instructor do |f| %>
    name: <%= f.text_field :name %><br />
    email: <%= f.text_field :email %><br />
    password: <%= f.text_field :password %><br />
<% end %>