<h1> Create Class </h1>

<div data-dojo-type="dijit/form/Form" id="myForm" data-dojo-id="myForm"
encType="multipart/form-data" action="" method="">
    <table style="border: 1px solid #9f9f9f;" cellspacing="10">
        <tr>
            <td>
                <label for="name">Semester:</label>
            </td>
            <td>
                <input type="text" id="semester" name="semester" required="true" data-dojo-type="dijit/form/TextBox"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="dob">Course ID:</label>
            </td>
            <td>
                <input type="text" id="course_id" name="course_id" data-dojo-type="dijit/form/TextBox"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="dob">Section:</label>
            </td>
            <td>
                <input type="text" id="section" name="section" data-dojo-type="dijit/form/TextBox"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="dob">Class Name:</label>
            </td>
            <td>
                <input type="text" id="class_name" name="class_name" data-dojo-type="dijit/form/TextBox"/>
            </td>
        </tr>
    </table>

    <button data-dojo-type="dijit/form/Button" type="submit" name="submitButton" value="Submit">Create Account</button>
</div>
