<!DOCTYPE html>
<html>
<head>
  
  <%= csrf_meta_tags %>
  <title>PasteHuffer</title>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dijit/themes/claro/claro.css" />
  <script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"
            data-dojo-config="parseOnLoad: true, async: false"></script>
  <script>
    require(["dojo/cookie",
            "dojo/ready", 
            "dijit/registry",
            'dojo/dom',
            'dojo/dom-construct',
            'dojo/parser', 
            "dijit/layout/AccordionContainer", 
            "dijit/layout/ContentPane",
            "dojo/request",
            'dijit/form/TextBox',
            'dijit/form/DateTextBox',
        ], function (cookie, ready, registry, dom, domConstruct,parser, AccordionContainer, ContentPane, request) {
            window.dom = dom;
            window.cookie = cookie;
            window.registry = registry;
            window.domConstruct = domConstruct;
            window.parser = parser;
            window.AccordionContainer = AccordionContainer;
            window.ContentPane = ContentPane;
            window.request = request;
            if( typeof setup !== "undefined")
            {
              setup();
            }

        });
  </script>
  <script>
    function getCRSFToken()
    {
      var metas = document.getElementsByTagName('meta'); 

      for (var i=0; i<metas.length; i++) { 
        if (metas[i].getAttribute("name") == "crsf_token") { 
           return metas[i].getAttribute("content"); 
        } 
      } 

      return "";
    }
  </script>
</head>
<body class="claro">

<%= yield %>

</body>
</html>
