<!DOCTYPE html>
<html>
<head>
  <title>PasteHuffer</title>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/claro.css" />
  <script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"
            data-dojo-config="parseOnLoad: true, async: false"></script>
  <script>
    require(['dojo/dom',
            'dojo/dom-construct',
            'dojo/parser', 
            "dijit/layout/AccordionContainer", 
            "dijit/layout/ContentPane",
            "dojo/request",
            "dijit/Dialog",
            'dijit/form/TextBox',
            'dijit/form/DateTextBox',
            'dijit/form/TimeTextBox'
        ], function (dom, domConstruct,parser, AccordionContainer, ContentPane, request, dialog) {
            window.dom = dom;
            window.domConstruct = domConstruct;
            window.parser = parser;
            window.AccordionContainer = AccordionContainer;
            window.ContentPane = ContentPane;
            window.request = request;
            window.DojoDialog = dialog;
            if( typeof setup !== "undefined")
            {
              setup();
            }
        });
  </script>
</head>
<body class="claro">

<%= yield %>

</body>
</html>
