<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
	
	<%= csrf_meta_tags %>
	<title>PasteHuffer</title>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/claro.css" />
	<script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"
						data-dojo-config="parseOnLoad: true, async: false"></script>
	<script>
		require(['dojo/dom',
						'dojo/dom-construct',
						'dojo/parser', 
						"dijit/layout/AccordionContainer", 
						"dijit/layout/ContentPane",
						"dojo/request",
						'dijit/form/TextBox',
						'dijit/form/DateTextBox', 
						'dijit/form/TimeTextBox',
						'dijit/form/Form', 
						'dijit/form/Button',
						'dojox/form/Uploader', 
						'dijit/form/Select'
				], function (ready, registry, dom, domConstruct,parser, AccordionContainer, ContentPane, request) {
						window.dom = dom;
						window.cookie = cookie;
						window.registry = registry;
						window.domConstruct = domConstruct;
						window.parser = parser;
						window.AccordionContainer = AccordionContainer;
						window.ContentPane = ContentPane;
						window.request = request;
						if( typeof setup !== "undefined")
						{
							setup();
						}

				});
	</script>
	<script>
		function getCRSFToken()
		{
			var metas = document.getElementsByTagName('meta'); 

			for (var i=0; i<metas.length; i++) { 
				if (metas[i].getAttribute("name") == "crsf_token") { 
					 return metas[i].getAttribute("content"); 
				} 
			} 

			return "";
		}
	</script>
=======
  <%= csrf_meta_tags %>
  <title>PasteHuffer</title>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/claro.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"
            data-dojo-config="parseOnLoad: true, async: false"></script>
  <script>
    require(['dojo/dom',
            'dojo/dom-construct',
            'dojo/parser', 
            "dijit/layout/AccordionContainer", 
            "dijit/layout/ContentPane",
            "dojo/request",
            "dijit/Dialog",
            'dijit/form/TextBox',
            'dijit/form/DateTextBox',
            'dijit/form/TimeTextBox',
            'dijit/form/Button',
            'dojox/form/Uploader', 
            'dijit/form/Select'
        ], function (dom, domConstruct,parser, AccordionContainer, ContentPane, request, dialog) {
            window.dom = dom;
            window.domConstruct = domConstruct;
            window.parser = parser;
            window.AccordionContainer = AccordionContainer;
            window.ContentPane = ContentPane;
            window.request = request;
            window.DojoDialog = dialog;
            if( typeof setup !== "undefined")
            {
              setup();
            }
        });
  </script>
>>>>>>> ad72a41f2a8cf9324cddec7e347c4ed13ca26ca5
</head>
<body class="claro">

<%= yield %>

</body>
</html>
